.contact-card {
  width: 500px;
  form {
    border-top: 5px solid rgb(59, 138, 3);
    width: auto;
    color: #358a00;

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(59, 138, 3);
      text-align: center;
      display: block;
      font-size: 30px;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }
    h3 {
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(59, 138, 3);
      text-align: center;
      display: block;
      font-size: 17px;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      margin-left: 0;
      margin-right: 0;
    }

    input {
      font-size: 14px;
      width: 100%;
      height: 32px;
      padding: 12px;
      border: 1px solid rgb(59, 138, 3);
      outline-style: solid;
      outline-color: lightgreen;
      outline-width: thin;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);
      &:focus {
        border: 1.2px solid rgb(59, 138, 3);
      }
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: black;
      font: 14px sans-serif;
      opacity: 0.5;
    }
    textarea {
      width: 100%;
      max-height: 150px;
      min-height: 75px;
      padding: 11.25px;
      outline: none;
      border: 1px solid black;
      outline-style: solid;
      outline-color: lightgreen;
      outline-width: thin;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);
      &:focus {
        border: 1.2px solid rgb(59, 138, 3);
      }
    }
    label {
      margin-top: 1rem;
    }
    input[type="submit"] {
      margin-top: 2rem;
      cursor: pointer;
      background: rgb(249, 105, 14);
      color: white;
      border: none;
    }
  }
}
